:root{
    --baloonMaxWidth: 270px;
}
.baloonStyle{
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    max-width: var(--baloonMaxWidth);
    word-wrap: break-word;
}
.userBaloon{
    background: var(--baloon-bg-user);
    color: var(--baloon-bg-user-text);
}
.assistantBaloon{
    background: var(--baloon-bg-assistant);
    color: var(--baloon-bg-assistant-text);
}
.noBg{
    background: none !important;
    color: none !important;
}
.baloonContainer{
    display: flex;
}
code{
    max-width: var(--baloonMaxWidth);
    overflow: scroll;
    display: block;
    background: rgba(0, 0, 0, 0.332);
    padding: 10px;
}
