:root {
    --baloon-bg-assistant: linear-gradient(45deg, #8ed2c9, #0B6DFF);
    --baloon-bg-assistant-text: #fff;
    --baloon-bg-user: linear-gradient(45deg, rgb(142, 210, 201), rgb(224, 195, 252));
    --baloon-bg-user-text: rgb(14, 0, 119);
    --body-background-color: linear-gradient(45deg, #a5aac9, transparent);
    --chat-baloon-text: #4d6083;
    --chat-bg: #F5F5F5;
    --chat-input: linear-gradient(45deg, rgb(142, 210, 201), rgb(224, 195, 252));
    --csb-background-gradient-1: white;
    --csb-background-gradient-2: white;
    --csb-background-gradient-3: white;
    --csb-character-hover-background: linear-gradient(45deg, rgb(142, 210, 201), rgb(224, 195, 252));
    --csb-character-hover-color: white;
    --csb-character-hover-text: white;
    --csb-header-border-color: #ffffff33;
    --csb-header-color: #fff;
    --csb-photo-border: #635c6d80;
    --newCharacter-form-bg: #f9f9f9;
    --newCharacter-hover-bg: #e9eeff;
    --newCharacter-header-color: #333;
    --newCharacter-input-color: #333;
    --newCharacter-label-color: #333;
    --newCharacter-submit-bg: linear-gradient(135deg, #8ed2c9, #e0c3fc, #8ec5fc);
    --newCharacter-submit-color: #fff;
    --newCharacter-submit-hover-bg: #34495e;
    --next-background-color: #f5f5f5;
    --next-box-shadow-color-1: rgba(50, 50, 93, 0.2);
    --next-box-shadow-color-2: rgba(0, 0, 0, 0.2);
    --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
    --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3);
    --scrollbar-track-color: rgba(0, 0, 0, 0.05);
    --shadow-color: rgba(0, 0, 0, 0.05);
    --text-color: #3a475e;
    --text-description: #7a7a7a;
    --theme-selector-bg: linear-gradient(45deg, rgb(142, 210, 201), rgb(224, 195, 252));
    --theme-selector-text: white;
    --title-color: #4d6083;
}

:root .dark-mode {
    --baloon-bg-user: linear-gradient(45deg, rgb(142, 210, 201), rgb(224, 195, 252));
    --baloon-bg-user-text: #002f49;
    --baloon-bg-assistant: linear-gradient(45deg, rgb(23, 71, 215), rgb(0, 130, 200));
    --baloon-bg-assistant-text: white;
    --body-background-color: linear-gradient(45deg, #121212, #000);
    --chat-baloon-text: #2b1553;
    --chat-bg: linear-gradient(319deg, #181818, #181818);
    --chat-header: none;
    --chat-input: linear-gradient(45deg, rgb(142, 210, 201), rgb(224, 195, 252));
    --csb-background-gradient-1: #181818;
    --csb-background-gradient-2: #181818;
    --csb-background-gradient-3: #121212;
    --csb-character-hover-background: linear-gradient(135deg, #8ed2c9, #e0c3fc, #8ec5fc);
    --csb-character-hover-text: black;
    --csb-header-border-color: #ffffff1c;
    --csb-header-color: #ccc;
    --csb-photo-border: #00000050;
    --csb-content: #202020;
    --logo-color: #a281e9;
    --newCharacter-form-bg: #333;
    --newCharacter-header-color: #fff;
    --newCharacter-hover-bg: rgba(255, 255, 255, 0.137);;
    --newCharacter-input-color: #fff;
    --newCharacter-label-color: #fff;
    --newCharacter-submit-bg: linear-gradient(135deg, #8ed2c9, #e0c3fc, #8ec5fc);
    --newCharacter-submit-color: #fff;
    --newCharacter-submit-hover-bg: #34495e;
    --next-background-color: #222;
    --next-box-shadow-color-1: rgba(0, 0, 0, 0.5);
    --next-box-shadow-color-2: rgba(0, 0, 0, 0.7);
    --scrollbar-thumb-color: rgba(255, 255, 255, 0.2);
    --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3);
    --scrollbar-track-color: rgba(255, 255, 255, 0.05);
    --shadow-color: rgba(0, 0, 0, 0.497);
    --text-color: #eee;
    --text-description: #b8b8b8;
    --theme-selector-bg: linear-gradient(135deg, #8ed2c9, #e0c3fc, #8ec5fc);
    --theme-selector-text: #202020;
    --title-color: #eee;
}
