#charactersSideBar {
    background: linear-gradient(135deg, var(--csb-background-gradient-1), var(--csb-background-gradient-2), var(--csb-background-gradient-3));
    width: 100%;
    max-width: 300px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px var(--shadow-color);
    transition: ease all .3s;
    transform: translateX(0);
    border: 2px solid #ffffff0d;
}
#csb-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
}
#csb-content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    box-sizing: border-box;
    background: var(--csb-content);
}
.text-title{
    color:var(--title-color);
    text-decoration: none;
    transition: ease all 1s;
}
.text-title h1{
    font-weight: bolder;
    font-family: 'Roboto';
    font-size: 50px;
    display: flex;
    justify-content: center;
    letter-spacing: -3px;
    align-items: center;
}

#csb-new-character{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-weight: lighter;
    color: var(--csb-header-color);
    font-size: 13px;
    text-transform: uppercase;
    box-shadow: 0 10px 8px var(--shadow-color);
    transition: ease all .4;
    z-index: 50;
    color: var(--text-color);
}
#csb-new-character:hover{
    transition: ease all .4;
    background: var(--newCharacter-hover-bg);
}

.csb-character {
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.csb-character::before {
    content: '';
    position: absolute;
    top: -500%;
    left: -500%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(45deg);
    transition: all 0.5s ease;
}

.csb-character:hover::before {
    top: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
}

.csb-character:hover {
    background: var(--csb-character-hover-background);
}
.csb-character:hover p, .csb-character:hover h1{
    color: var(--csb-character-hover-text) !important;
}

.csb-character-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid var(--csb-photo-border);
    flex-shrink: 0;
}

.csb-character-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.csb-character-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.csb-character-details h1 {
    font-size: 18px;
    margin: 0;
    color: var(--text-color);
}

.csb-character-details p {
    font-size: 14px;
    margin: 5px 0 0;
    font-weight: 300;
    color: var(--text-description);
}

.csb-character-delete{
    position: absolute;
    right:5px;
    border-radius: 20px;
    background: none;
    padding:3px;
    width: 70px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    transform: scale(.7);
    top: 17px;
    opacity: .5;
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color); 
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color); 
    border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color); 
}

.theme-selector.animate {
    animation: pulse 1s;
}
.config-selector {
    background: var(--theme-selector-bg);
    color: var(--theme-selector-text);
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    top: 38px;
    left: 10px;
    font-size: 15px;
    opacity: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.3s, color 0.3s;
}
.theme-selector {
    background: var(--theme-selector-bg);
    color: var(--theme-selector-text);
    padding: 5px 10px;
    border-radius: 20px;
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 15px;
    opacity: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.3s, color 0.3s;
}
.csb-character-search {
    max-width: 220px ;
    width: 100% ;
    border: none;
    color: var(--text-color);
    margin-bottom: 40px ;
    outline: none ;
    font-size: 15px;
    background: var(--theme-selector-bg);
    padding: 9px;
    padding-left: 25px;
    border-radius: 20px;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#csb-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    padding-top: 20px;
}
#csb-title a{
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo-container {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    fill: var(--logo-color);
}

.logo {
    width: 100%;
    height: 100%;
}

.title-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.model-name{
    margin-top: -20px;
    color: var(--text-color);
}


.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hexagon {
    font-size: 50px;
    transition: transform 0.5s;
}

.kearm-text {
    opacity: 0;
    font-size: 40px;
    position: absolute;
    left: 100%;
    margin-left: -65px;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateX(-50px);
}

.title-container:hover .hexagon {
    transform: translateX(-50px);
}

.title-container:hover .kearm-text {
    opacity: 1;
    transform: translateX(0);
}
.st0{fill:white;}
.st1{fill-rule:evenodd;clip-rule:evenodd;fill:white;}
.st2{fill-rule:evenodd;clip-rule:evenodd;fill:white;}